@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

  